<div id="homeContent">
	<div id="homeContentHelper">
		<div id="livePrayerSession">
			<%= link_to image_tag("home/livePrayerSession.png"), mshow_video_path %>
		</div>

		<div id="homeVideo">
			<%= link_to image_tag("new_index/Jmbc_online_scaled2.png"), "http://www.jmbconline.org/", :target => "_BLANK" %>
		</div>

		<div id="homeAds">
			<%= link_to image_tag("rp1.png"), mprayer_watches_path, :class => "left" %>
			<%= link_to image_tag("rp2.png"), video_page_path, :class => "left" %>
			<%= link_to image_tag("rp3.png"), checkout_path, :class => "left" %>
		</div>

		<div id="liveCam8World">
			<%= link_to image_tag("new_index/BAINCO_PRAYER_GALAXY.png", :class => "jmbc_special_logo"), "http://www.bainco.org/", :target => "_BLANK" %>
		</div>

		<div id="adWords">
			<%= link_to image_tag("new_index/JoySchool_Ad.jpg", :class => "jmbc_special_logo2"), "http://www.joyschool.us/", :target => "_BLANK" %>
		</div>

		<% if 1 == 2 %>
			<div id="liveCam8World">
				<%= link_to image_tag("home/JMBCLogo.png", :class => "jmbc_special_logo"), pdfs_page_path %>
			</div>

			<div id="adWords">
				<%= image_tag "home/adWords.jpg" %>
			</div>

			<div id="adSense">
				<%= image_tag "home/adSense.jpg" %>
			</div>
		<% end %>
	</div>
</div>

