<div id="homeContent">
	<div id="homeContentHelper">
		<div id="livePrayerSession">
			<%= link_to image_tag("home/livePrayerSession.png"), mshow_video_path %>
		</div>

		<div id="homeVideo">
			<iframe width="385" 
					height="291" 
					src="http://cdn.livestream.com/embed/prayergalaxy?layout=4&amp;height=340&amp;width=291&amp;autoplay=false" 
					style="border:0;outline:0" 
					frameborder="0" 
					scrolling="no">
			</iframe>
		</div>

		<div id="homeAds">
			<%= link_to image_tag("rp1.png"), mprayer_watches_path, :class => "left" %>
			<%= link_to image_tag("rp2.png"), video_page_path, :class => "left" %>
			<%= link_to image_tag("rp3.png"), checkout_path, :class => "left" %>
		</div>

		<div id="liveCam8World">
			<%= link_to image_tag("home/JMBCLogo.png", :class => "jmbc_special_logo"), pdfs_page_path %>
		</div>

		<div id="adWords">
			<%= image_tag "home/adWords.jpg" %>
		</div>

		<div id="adSense">
			<%= image_tag "home/adSense.jpg" %>
		</div>
	</div>
</div>

