<div id="homeContent">
	<div id="homeContentHelper">
		<div id="livePrayerSession">
			<%= image_tag "home/livePrayerSession.jpg" %>
		</div>

		<div id="homeVideo">
		</div>

		<div id="homeAds">
			<%= link_to image_tag("rp1.png"), mprayer_watches_path, :class => "left" %>
			<%= link_to image_tag("rp2.png"), video_page_path, :class => "left" %>
			<%= link_to image_tag("rp3.png"), checkout_path, :class => "left" %>
		</div>

		<div id="liveCam8World">
			<%= image_tag "home/Live8CamWorld.jpg" %>
		</div>

		<div id="adWords">
			<%= image_tag "home/adWords.jpg" %>
		</div>

		<div id="adSense">
			<%= image_tag "home/adSense.jpg" %>
		</div>
	</div>
</div>

