<div class="title">
	<span>JM Bible College</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left" id="pdf_links">
		<%= link_to "PUBLIC AFFAIRS JMBible College PDF.", "assets/pdf/PUBLIC_AFFAIRS_JMBible_College.pdf" %><br />
		<%= link_to "JMBC School of Communication", "assets/pdf/JMBC_School_of_Communication.pdf" %><br />
		<%= link_to "JMBC School of Health Care Management", "assets/pdf/JMBC_School_of_Health_Care_Management.pdf" %><br />
		<%= link_to "JMBC School of Theology", "assets/pdf/JMBC_School_of_Theology.pdf" %><br />
		<%= link_to "School of Mathematics", "assets/pdf/School_of_Mathematics.pdf" %><br />
		<%= link_to "MISSION JMBible College", "assets/pdf/MISSION_JMBible_College.pdf" %><br />
		<%= link_to "JMBC School of Education", "assets/pdf/JMBC_School_of_Education.pdf" %><br />
		<%= link_to "JMBC School of Business Administration", "assets/pdf/JMBC_School_of_Business_Administration.pdf" %><br />
		<%= link_to "JMBC School of Computer Science", "assets/pdf/JMBC_School_of_Computer_Science.pdf" %><br />
		<%= link_to "JMBC School of Agriculture", "assets/pdf/JMBC_School_of_Agriculture.pdf" %><br />
		<%= link_to "JMBC School of Accounting", "assets/pdf/JMBC_School_of_Accounting.pdf" %><br />
		<%= link_to "REGISTRATION JM Bible College", "assets/pdf/REGISTRATION_JM_Bible_College.pdf" %><br />
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>