<script type="text/javascript" charset="utf-8">
    VideoJS.setupAllWhenReady();
</script>

<div class="title">
	<span>Vision</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<p>
			<%= raw @data.description.gsub("\n", "<br /><br />") %>
		</p>

		<div id="pics">
			<%= image_tag @data.image1 %>
			<%= image_tag @data.image2 %>
			<%= image_tag @data.image3 %>
		</div>

		<div class="video">
			<% if @data.video != "" %>
				<div class="video-js-box">
					<video class="video-js" width="585" height="299" controls preload>
				    	<source src="<%= @data.video %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				      	<!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm; codecs="vp8, vorbis"' />
				      	<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg; codecs="theora, vorbis"' />-->
						
						<object id="flash_fallback_1" class="vjs-flash-fallback" width="585" height="299" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
				        	<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
				        	<param name="allowfullscreen" value="true" />
				        	<param name="flashvars" value='config={"playlist":[{"url": "<%= @data.video %>","autoPlay":false,"autoBuffering":true}]}' />			        	
			  			</object>
					</video>
				</div>
			<% end %>
		</div>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>