<div class="title">
	<span>Vision</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<p>
			<%= @data.description %>
		</p>

		<div id="pics">
			<%= image_tag @data.image1 %>
			<%= image_tag @data.image2 %>
			<%= image_tag @data.image3 %>
		</div>

		<div class="video">
			<div class="video-js-box">
				<video class="video-js" width="468" height="239" controls preload poster="/assets/videoSection/videoPreview.jpg">
			    	<source src="<%= @data.video %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			      	<!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm; codecs="vp8, vorbis"' />
			      	<source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg; codecs="theora, vorbis"' />-->
					
					<object id="flash_fallback_1" class="vjs-flash-fallback" width="468" height="239" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
			        	<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
			        	<param name="allowfullscreen" value="true" />
			        	<param name="flashvars" value='config={"playlist":["/assets/videoSection/videoPreview.jpg", {"url": "<%= @data.video %>","autoPlay":false,"autoBuffering":true}]}' />
			        	
			        	<!-- Image Fallback. Typically the same as the poster image. -->
			        	<%= image_tag "videoSection/videoPreview.jpg", :width => "468", :height => "239", :alt => "Galaxy Prayer Video", :title => "No video playback capabilities." %>
		  			</object>
				</video>
			</div>
		</div>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>