<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name<br />
    <%= @user.name %>
  </div>

  <div class="field">
    Last Name<br />
    <%= @user.lastname %>
  </div>

  <div class="field">
    Email<br />
    <%= @user.email %>
  </div>

  <div class="field">
    Active
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
