<%= form_for @user, :remote => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="left">
    <div class="field">
      Name<br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      Last Name<br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      Email<br />
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="left leftSpace">
    <div class="field">
      Password<br />
      <%= f.password_field :password %>
    </div>

    <div class="field">
      Password Confirmation<br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= link_to "", "#", :id => "submitUser" %>
<div class="clear"></div>
    </div>
  </div>
<% end %>
