<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.lastname %></td>
    <td><%= contact.email %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Remove', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
