<%= form_for(@prayer_watch) do |f| %>
  <% if @prayer_watch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prayer_watch.errors.count, "error") %> prohibited this prayer_watch from being saved:</h2>

      <ul>
      <% @prayer_watch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
