<div id="top">
	<div id="logo">
		<%= link_to image_tag("logo.png"), mindex_path %>
	</div>

	<div id="slogan">
		<%= image_tag "slogan.png" %>
	</div>

	<div id="userStatus">
		<% if @showMenu %>
			<%= link_to image_tag("logOut.png"), admin_logout_path, :class => "logoutButton" %>
		<% end %>
	</div>

	<div id="liveButton">
		<%= image_tag "Live24_7.png" %>
	</div>
</div>

<div id="menu">
	<div id="menuItemsBackend">
		<% if @showMenu %>
			<%= link_to "Categories", categories_path, :class => "menuText" %>
			<%= link_to "Products", products_path, :class => "menuText" %>
			<%= link_to "Videos", videos_path, :class => "menuText" %>
			<%= link_to "Contacts", contacts_path, :class => "menuText" %>
			<%= link_to "Users", users_path, :class => "menuText" %>
			<%= link_to "About", abouts_path, :class => "menuText" %>
			<%= link_to "Vision", visions_path, :class => "menuText" %>
			<%= link_to "Partners", partners_path, :class => "menuText" %>
			<%= link_to "Prayers", prayer_watches_path, :class => "menuText" %>
			<%= link_to "Contact Page", contact_pages_path, :class => "menuText" %>
		<% end %>
	</div>
</div>