<div id="loginBox">
	<div>
		<%= image_tag "loginBar.jpg" %>
	</div>

	<div id="loginBoxContent">
		<%= form_tag sessions_path, :remote => true, :id => "loginForm" do %>
			<%= hidden_field_tag :location, getActualLocation %>

			<div class="right">
				<%= text_field_tag :email, params[:email], :placeholder => "Username" %>
			</div>

			<div class="right marginTop">
				<%= password_field_tag :password, params[:password], :placeholder => "Password" %>
			</div>

			<div class="actions marginTop">
				<div class="left rememberMe">
					<%= check_box_tag :remember_me, 1, params[:remember_me] %>
					Remember me
				</div>

				<div class="actions right marginTop">
					<%= link_to "", "#", :id => "submitLogin", :onclick => "submitLogin()" %>
				</div>
			</div>

			<div class="clear">
			</div>

			<div class="actions marginTop" id="lostPassword">
				<%= link_to "Lost your password?", new_password_reset_path %>
			</div>
		<% end %>
	</div>
</div>