<div class="item">
	<%= image_tag checkout_item[:product].image, :class => "imageSmall left" %>
	<p>
		<div class="productName">
			<%= checkout_item[:product].name %>
		</div>

		<div class="contentCart">
			<div class="bigPrice left bigPriceWidth">
				Price: <%= number_to_currency(checkout_item[:product].price, :unit => "$") %>
			</div>

			<div class="totalProducts left">
				<%= text_field_tag :total, checkout_item[:quantity], :class => "totalElements", :data => {:itemid => checkout_item[:product].id, :urlproduct => url_for(:controller => "store", :action => "updateCheckout")} %>
			</div>
		
			<div class="bigPrice left">
				<%= number_to_currency(checkout_item[:total], :unit => "$") %>
			</div>

			<div class="clear"> 
			</div>
		</div>
	</p> 

	<input type="hidden" name="item_name_<%= @currentItem %>" value="<%= checkout_item[:product].name %>"> 
	<input type="hidden" name="amount_<%= @currentItem %>" value="<%= checkout_item[:product].price %>"> 
	<!-- <input type="hidden" name="shipping_<%= @currentItem %>" value="<%= checkout_item[:product].price %>"> --> 
	<input type="hidden" name="quantity_<%= @currentItem %>" value="<%= checkout_item[:quantity] %>"> 
</div>

<% @currentItem += 1 %>