<div class="productItem left">
	<div class="productItemPic">
		<%= image_tag item.image %>
	</div>

	<div class="productItemContent">
		<span class="productItemContentTitle"><%= truncate(item.name, :length => 18 %></span>

		<div class="productItemContentDescription">
			<%= truncate(item.description, :length => 22) %>X
		</div>

		<div class="bigPrice">
			<%= number_to_currency(item.price, :unit => "$") %>
		</div>
	</div>
		
	<div class="buyNowButton">
		<%= link_to image_tag("buyNowButton.png"), store_product_path(item.id), :style => "background:none;" %>
	</div>
</div>