<div class="title">
	<span>Checkout</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<form id="payPalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post">  
			<input type="hidden" name="cmd" value="_cart"> 
			<input type="hidden" name="upload" value="1"> 
			<input type="hidden" name="business" value="vrtt08@yahoo.com">
 
			<div id="checkout">
				<%= render :partial => "checkout_item", :collection => @data %>
			</div>

			<div id="finalPrice" class="blackPrice left">
				Total: <%= @final %>
			</div>

			<div class="right payPalButton">
				<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), "javascript:void(0)", :id => "payPalButton" %>
			</div>

			<div class="clear"></div>
		</form>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>